name: check
on:
  workflow_call:
    inputs:
      flutter-version:
        type: string
        required: false
        default: '3.32.4'
      repo-path:
        required: false
        default: '.'
        type: string
      package:
        description: "If repository is a publishable package, run package analyzer"
        required: false
        default: false
        type: boolean
      env_vars:
        description: "Environment variables that will be passed to the build"
        required: false
        type: string

jobs:
  dart-scan:
    uses: affinidi/pipeline-security/.github/workflows/dart-scanner.yml@main
    with:
      repo-path: ${{ inputs.repo-path }}
      flutter-version: ${{ inputs.flutter-version }}
    secrets: inherit
  build:
    needs: [dart-scan]
    runs-on: ubuntu-latest
    services:
      localstack:
        image: localstack/localstack:latest
        ports:
          - 4566:4566
        options: --env KMS=true

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
        
      - name: Fetch base ref
        if: github.event_name == 'pull_request'
        run: git fetch origin ${{ github.event.pull_request.base.ref }} --depth=1
      - name: Set environment variables
        run: |
          echo "${{ inputs.env_vars }}" | while IFS= read -r line
          do
            if [ -n "$line" ]
            then
              # Split the line into key and value based on "=" character.
              key="${line%%=*}"        # Retain the part before the first "="
              val="${line#*=}"         # Retain the part after the first "="
              echo "::add-mask::$val"  # Mask values because they could be sensitive
              echo "INFO: Setting variable $key"
              echo "${key}=${val}" >> "$GITHUB_ENV"
            fi
          done      

      # Note: This workflow uses the latest stable version of the Fluter+Dart SDK.
      # You can specify other versions if desired, see documentation here:
      # https://github.com/flutter-actions/setup-flutter/blob/main/README.md
      - uses: flutter-actions/setup-flutter@v3
        with:
          channel: stable
          version: ${{ inputs.flutter-version }}
      - uses: bluefireteam/melos-action@v3
      - run: melos format --output=none --set-exit-if-changed .
      - run: melos analyze
      - run: melos test
      - uses: romeovs/lcov-reporter-action@v0.3.1
        with:
          lcov-file: ./coverage/lcov.info
      - name: Install pana
        if: ${{ inputs.package == true }}
        run: dart pub global activate pana
      - name: Install jq
        if: ${{ inputs.package == true }}
        run: sudo apt-get update && sudo apt-get install -y jq
      - name: Run package analyzer
        if: ${{ inputs.package == true }}
        run: |
          export PATH="$PATH:$HOME/.pub-cache/bin"
          melos exec -- \
            bash -c '
              read PACKAGE_NAME PACKAGE_SCORE <<< $(pana --source path . --json | jq -r ".packageName + \" \" + (.scores.grantedPoints|tostring)")
              echo "Package: $PACKAGE_NAME, Score: $PACKAGE_SCORE"
              if [ "$PACKAGE_SCORE" -lt 160 ]; then
                echo "âŒ $PACKAGE_NAME score below 160"
                exit 1
              fi
            '

